.group-box {
  display: flex;
  flex-direction: column;

  > .header {
    flex: 0 1 auto;  
    padding: var(--spacing-default);  
  }

  > .content {
    flex: 1 1 auto;
    padding: var(--spacing-default);
    background-color: lightgreen;
    overflow: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }
}

.button-group {

  display: flex;
  gap: var(--spacing-default);

  &.vertical {
    flex-direction: column;
  }
}