@import url('./variables.css');

@import url('./globals.css');

@import url('./components.css');

@import url('./menus-main.css');
@import url('./menus-level-selection.css');
@import url('./menus-statistics.css');

@import url('./logging.css');

.game-title {
  font-family: 'Bistroblock';
  font-size: 64pt;
}

.hidden {
  display: none;
}