@import url('./variables.css');

@import url('./globals.css');

@import url('./components.css');

@import url('./menus-main.css');
@import url('./menus-level-selection.css');
@import url('./menus-statistics.css');
@import url('./menus-shop.css');

@import url('./logging.css');

.game-title {
  font-family: 'Bistroblock';
  font-size: 64pt;
}

.hidden {
  display: none;
}

/*
Rotation logic, styles, and animations taken from https://github.com/arscan/pleaserotate.js/blob/master/pleaserotate.js
*/

#pleaserotate-graphic {
  margin-left: 50px;
  width: 200px;
  animation: pleaserotateframes ease 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: pleaserotateframes ease 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: pleaserotateframes ease 2s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -ms-animation: pleaserotateframes ease 2s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

#pleaserotate-backdrop {
  background-color: white;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: block;
}

#pleaserotate-container {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

#pleaserotate-message {
  margin-top: 20px;
  font-size: 1.3em;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  text-transform: uppercase
}

#pleaserotate-message small {
  opacity: .5;
  display: block;
  font-size: .6em
}

@keyframes pleaserotateframes {
   0% { 
      transform: rotate(0deg); 
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
    }
    49% { 
      transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
    } 
    100% {
      transform: rotate(90deg);
      -moz-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg); 
      -ms-transform:  rotate(-90deg); 
    }
}

@media screen and (orientation: landscape) {
  #pleaserotate-backdrop {
    display: none;
  }
}