@import url('./variables.css');
@import url('./menus-common.css');

#main-menu {
    .game-title {
        margin: 0;    
    }

    .button-group {
        width: 300px;
        margin-left: auto;
    }

    button {
        height: 8vh;
        font-size: 5vh;
    }
}