@import url('./variables.css');
@import url('./menus-common.css');

#level-selection-menu {

  --level-button-size: 100px;

  .levels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
  }

  .level {
    position: relative;
    color: gray;
    background-color: goldenrod;
    font-size: 24px;
    border: 1px solid black;
    width: var(--level-button-size);
    height: var(--level-button-size);
    margin: var(--spacing-default);

    .level-locked-status {
      display: block;
    }

    &.unlocked {
      background-color: darkgoldenrod;
      color: black;

      .level-locked-status {
        display: none;
      }
    }
  }

  .level-badge-container {
    position: absolute;
    display: flex;
    gap: 5px;
    flex-direction: row;
    bottom: 0;
    right: 5px;
    font-family: 'Bistroblock';
    font-size: 32px;
    padding-bottom: 3px;

    > .level-badge {
      display: none;

      &.level-badge-acquired {
        display: block;
      }
    }
  }
}

.level-badge {
  width: 16px;
  height: 16px;
  animation: level-badge 2s steps(3) infinite;
}

.level-badge-no-damage {
  background-image: url('../img/gem_blue.png');
}

.level-badge-no-survivors {
  background-image: url('../img/gem_red.png');
}

.level-badge-perfect {
  background-image: url('../img/gem_gold.png');
}

@keyframes level-badge {
  0% { background-position-x: 0px; }
  100% { background-position-x: 100%; }
}